<div class="col-xs-10 col-xs-offset-1">
  <h1>Tentang Apa Kata Kita</h1>

  <p>
  	Apa Kata Kita adalah platform opini virtual yang dibangun sebagai sarana tukar pandangan. Opini yang ditulis berupa kritik dan masukan terhadap pemerintah kita. 




  </p>
  <br class="clear">

<div class="col-xs-12 col-sm-4">
    <%= image_tag 'maya.jpg', :class => 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
<h2 class="text-center">Maya Novarini</h2>
  	<br />
    <p>
      Maya Novarini is the coolest kid in town. No, seriously. She believes that she used to be Mozart in her previous life. She thinks that she is awesome just because she is able to solve a rubik's cube in just 2 minutes-ish. Despite being a dyslexic, she is always optimistic when it comes to coding. Its true, she couldn't read the code as how other people do. She has to make associat 
    </p>
  </div>

</div>