<style>
#footer .next-quote {display:none;}
</style>


<div class="col-xs-10 col-xs-offset-1">
  <h1>Tentang Apa Kata Kita</h1>

  <p>
  	Apa Kata Kita adalah platform opini virtual untuk pemerintah kita. Demi Indonesia yang lebih baik, budayakan berdiskusi dan cerdas dalam berpendapat. 




  </p>
  <br class="clear">

<div class="col-xs-12 col-sm-4">
    <%= image_tag 'mayamaya.jpg', :class => 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
<h2 class="text-center">Maya Novarini</h2>
  	<br />
    <p>
      Nama gw Maya Novarini. Pecandu 'Matcha Latte', 'Rubiks Cube' dan Reddit. Semangat belajar tinggi di software engineering, artificial intelligence, touchable holography technology, antropologi dan sejarah.</italic>.
    </p>
    <p>
      Lulusan Universiteit van Amsterdam di Belanda. Saat ini bermukim di San Francisco dan tengah merintis sebuah startup.</italic>
    </p>
  </div>

</div>