<style>
#footer .next-quote {display:none;}
</style>


<div class="col-xs-10 col-xs-offset-1">
  <h1>Tentang Apa Kata Kita</h1>

  <p>
  	Apa Kata Kita adalah platform opini virtual yang dibangun sebagai sarana tukar pandangan. Opini yang ditulis berupa kritik dan masukan terhadap pemerintah kita. Untuk Indonesia yang lebih baik, budayakan berdiskusi dan cerdas dalam berpendapat. 




  </p>
  <br class="clear">

<div class="col-xs-12 col-sm-4">
    <%= image_tag 'mayamaya.jpg', :class => 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
<h2 class="text-center">Maya Novarini</h2>
  	<br />
    <p>
      Nama gw Maya Novarini. Pecandu 'Matcha Latte', 'Rubiks Cube' dan Reddit. Anak Indonesia yang bangga dilahirkan dan dibesarkan di tanah air. Suka melukis, walau ga jago gambar. Suka musik, ga bisa main instrumen. Suka baca, walaupun dyslexic. Semangat belajar tinggi di software engineering, artificial intelligence, touchable holography technology, antropologi dan sejarah.</italic>.
    </p>
    <p>
      Lulusan Universiteit van Amsterdam di Belanda. Saat ini bermukim di San Francisco dan tengah merintis startup, Sponsowl, sebuah platform online untuk mempublikasikan event, berjualan tiket dan mencari sponsor. Keren ya? Hehehe</italic>
    </p>
  </div>

</div>